@charset "utf-8";


@media (min-width:1260px) {
    * {
        margin: 0;
        box-sizing: border-box;
    }


    body {
        background-color: #0f0f0f;
        font-family: "Roboto", sans-serif;
    }

    @font-face {
        font-family: "Roboto";
        src: url("/font/Roboto-Regular.ttf");
    }

    ul, ol, li {
        list-style: none;
        padding-left: 0;
    }

    h1 {
        font-weight: 100;
        letter-spacing: -0.02em;
        font-size: 3.5rem;
        line-height: 4rem;
    }

    h2 {
        font-weight: 600;
        letter-spacing: -0.02em;
        font-size: 3rem;
        line-height: 3.5rem;
        margin-bottom: 24px;
    }

    h3 {
        font-weight: 600;
        letter-spacing: -0.02em;
        font-size: 2rem;
        line-height: 2.375rem;
        margin-bottom: 0.5rem;
    }

    p {
        font-weight: bold;
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;
    }

    .light_grey {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
        color: #878787;
    }

    .content {
        max-width: 60ch;
        margin: 2rem auto;
        text-align: center;
    }

    .content-small {
        font-size: 1rem;
        line-height: 1.5rem;
        margin: 1rem 0 0;
    }

    nav {
        position: sticky;
        top: 0;
        z-index: 1023;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #0f0f0f;
        padding: 0.5rem 4rem;
    }

    .wrap {
        padding: 80px 64px;
        /* margin: 0px 106px; */
    }

    .relative {
        position: relative;
    }

    .grey {
        color: #878787;
    }

    .white, p, h1, span, h3, h2, label {
        color: #FFF;
    }

    .center {
        text-align: center;
    }

    a {
        text-decoration: none;
        color: #FFF;
    }


    .wid40 {
        min-height: 40px;
        min-width: 40px;
    }


    .btn-read {
        background-color: #FFFFFF1E;
        border-radius: 2px;
        padding: 0.8rem 1rem;
        color: #FFF;
    }

    .btn-read:hover {
        background-color: rgba(255,255,255,.11765);
    }

    .btn-read:active {
        background-color: rgba(255,255,255,.20784);
    }



    /* ---------------------common properties------------------------ */


    .sub-wrap {
        padding: 0 4rem;
    }

    /* ---------------------------  nav start----------------------- */


    .main_logo-txt {
        width: 167px;
    }

    .main_logo-img {
        width: 19.5px;
        display: none;
    }

    .util {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .btn-trial {
        background-color: #3959ff;
        border-radius: 2px;
        padding: 0.8rem 1rem;
        color: #FFF;
    }


    /* --------------------------- Footer start----------------------- */


    .footer-first {
        display: flex;
        justify-content: space-between;
        gap: 4rem;
        flex-direction: row;
        align-items: flex-start;
    }

    .footer-first_L {
        width: 320px;
    }

    .footer-first_L svg{
        width: 40px;
        height: 40px;
        margin-bottom: 1.25rem;
    }

    .select-box {
        min-width: initial;
        max-width: 320px;
        min-height: 56px;
        background-color: #FFFFFF1F;
        width: 100%;
        height: 3.5rem;
        padding:0.7rem 3rem 0.5rem 1rem;
        display: flex;
        border: none;
        line-height: 1.5;
        width: 100%;
        border-radius: 2px;
    }


    .dropdown-submenu {
        /* display: flex; */
        display: none;
        flex-direction: column;
        background-color: #FFFFFF1F;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }

    .dropdown-submenu a {
        padding:0.7rem 3rem 0.5rem 1rem;
    }

    .dropdown-submenu a:hover {
        background-color: rgba(255, 255, 255, 0.12);
    }

    .submenu-white {
        font-size: 1rem;
        margin: 0;
        font-weight: bold;
    }

    .select-box:hover {
        cursor: pointer;
    }

    .select-box p {
        text-align: left;
        font-weight: bold;
        font-size: 1rem;
        margin:1rem 0 0 0;
    }
    .select-lang {
        position: absolute;
        top: 0.5rem;
        left: 0;
        font-size: 0.8rem;
        margin: 5px 3rem 0px 1rem;
        letter-spacing: 0.5px;
    }


    .arr-down{
        position: absolute;
        pointer-events: none;
        width: 1.8rem;
        top: 0.5rem;
        right: 1rem;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
    }

    .footer-first_L svg {
        display: inline-block;
    }

    .footer-first_R {
        display: flex;
        flex-wrap: wrap;
        -moz-column-gap: 4rem;
        column-gap: 4rem;
        row-gap: 3.5rem;
        margin-bottom: 4rem;
    }

    .footer-first_R li {
        min-height:40px;
        min-width:40px;
    }

    .footer-first_R h3 {
        margin: 0 0 1.3rem;
    }

    .footer-second {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-second_R a {
        background: none;
    }

    .footer-second_L span{
        letter-spacing: 0.8px;
    }

    .footer-second_R li {
        display: inline-flex;
        line-height: 1.6;
        min-height: 48px;
        min-width: 48px;
        align-items: center;
    }
}