@charset "utf-8";

@media (min-width: 600px) {
    body {
        background-color: #0f0f0f;
        font-family: "Roboto", sans-serif;
    }

    @font-face {
        font-family: "Roboto";
        src: url("/font/Roboto-Regular.ttf");
    }

    ul,
    ol,
    li {
        list-style: none;
        padding-left: 0;
    }

    h1 {
        font-weight: 600;
        letter-spacing: -0.02em;
        font-size: 3rem;
        line-height: 3rem;
        color: red;
    }

    h2 {
        font-weight: 600;
        letter-spacing: -0.02em;
        font-size: 3rem;
        line-height: 3.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    h3 {
        font-weight: 600;
        letter-spacing: -0.02em;
        font-size: 2rem;
        line-height: 2.375rem;
        margin-bottom: 0.5rem;
    }

    p {
        font-weight: bold;
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    .content {
        max-width: 60ch;
        margin: 2rem auto;
        text-align: center;
    }

    .content-small {
        font-size: 1rem;
        line-height: 1.5rem;
        margin: 1rem 0 0;
    }

    nav {
        position: sticky;
        top: 0;
        z-index: 1023;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #0f0f0f;
        padding: 0.5rem 4rem;
    }

    .wrap {
        padding: 40px 32px;
    }

    .relative {
        position: relative;
    }

    .grey {
        color: #878787;
    }

    .white,
    p,
    h1,
    span,
    h3,
    h2,
    label {
        color: #fff;
    }

    .center {
        text-align: center;
    }

    a {
        text-decoration: none;
        color: #fff;
    }

    .wid40 {
        min-height: 40px;
        min-width: 40px;
    }
    /* ---------------------common properties------------------------ */

    /* ---------------------------  nav start----------------------- */

    .main_logo-txt {
        width: 167px;
    }

    .main_logo-img {
        width: 19.5px;
        display: none;
    }

    .util {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .btn-trial {
        background-color: #3959ff;
        border-radius: 2px;
        padding: 0.8rem 1rem;
        color: #fff;
    }

    .btn-read {
        background-color: #ffffff1e;
        border-radius: 2px;
        padding: 0.8rem 1rem;
        color: #fff;
    }

    .btn-read:hover {
        background-color: rgba(255, 255, 255, 0.11765);
    }

    .btn-read:active {
        background-color: rgba(255, 255, 255, 0.20784);
    }

    /* --------------------------- Footer start----------------------- */

    .footer-first {
        display: flex;
        justify-content: space-between;
        /* gap: 4rem; */
        flex-direction: column-reverse;
        align-items: center;
    }

    .footer-first_L {
        width: 320px;
    }

    .footer-first_L svg {
        /* display: none; */
    }

    .select-box {
        min-width: initial;
        max-width: 320px;
        min-height: 56px;
        background-color: #ffffff1f;
        width: 100%;
        height: 3.5rem;
        /* padding: 0px 3rem 0px 1rem; */
        padding: 0.7rem 3rem 0.5rem 1rem;
        display: flex;
        border: none;
        line-height: 1.5;
        width: 100%;
        border-radius: 2px;
    }

    .dropdown-submenu {
        display: flex;
        flex-direction: column;
        background-color: #ffffff1f;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }

    .dropdown-submenu a {
        padding: 0.7rem 3rem 0.5rem 1rem;
    }

    .submenu-white {
        font-size: 1rem;
        margin: 0;
        font-weight: bold;
    }

    .select-box:hover {
        cursor: pointer;
    }

    .select-box p {
        text-align: left;
        font-weight: bold;
        font-size: 1rem;
    }
    .select-lang {
        position: absolute;
        top: 0.5rem;
        left: 0;
        font-size: 0.8rem;
        margin: 5px 3rem 0px 1rem;
        letter-spacing: 0.5px;
    }

    .arr-down {
        position: absolute;
        pointer-events: none;
        width: 1.8rem;
        top: 0.5rem;
        right: 1rem;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
    }

    .footer-first_R {
        display: flex;
        flex-wrap: wrap;
        -moz-column-gap: 4rem;
        column-gap: 4rem;
        row-gap: 3.5rem;
        margin-bottom: 4rem;
    }

    .footer-first_R li {
        min-height: 40px;
        min-width: 40px;
    }

    .footer-first_R h3 {
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin: 0 0 1.25rem;
    }

    .footer-second {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .footer-second_R{
        margin-top: 2rem;
    }

    .footer-second_L span {
        letter-spacing: 0.8px;
    }

    .footer-second_R li {
        display: inline-flex;
        line-height: 1.6;
        min-height: 48px;
        min-width: 48px;
        align-items: center;
        margin: 0.2rem;
    }

    .footer-second_R a {
            display: grid;
            place-items: center;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background-color: #202020;
    }
}
