@charset "utf-8";

@media (max-width: 599px) {
    /* --------------------------- welcome Section start----------------------- */

    .welcome_section {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        max-width: 1440px;
        margin: auto;
        width: 100%;
        box-sizing: border-box;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .welcome_section h1 {
        font-size: 2.5rem;
    }

    .welcome_section-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    /* --------------------------- Showcase Section start----------------------- */

    .showcase_section-title {
        font-size: 3rem;
        /* line-height: 3.5rem; */
        color: #fff;
        text-align: center;
        padding-bottom: 1.5rem;
        overflow: hidden;
    }

    .showcase_section-title li {
        color: #723fff;
        font-weight: 800;
    }

    .showcase_section-slide {
        overflow: hidden;
    }

    .showcase_section-slide ul {
        position: relative;
        display: flex;
        gap: 2rem;
        max-width: 2750px;
        margin: 0 auto;

        animation: bannermove 16s linear infinite;
    }

    @keyframes bannermove {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(-50%, 0);
        }
    }

    .showcase_section-slide > ul > li {
        position: relative;
        border-radius: 0.4rem;
    }

    .slide-img {
        width: auto;
        height: 340px;
    }

    .slide-img img {
        height: 100%;
    }

    .slide-img:after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(0deg, rgba(15, 15, 15, 0.5) 0%, rgba(15, 15, 15, 0) 100%);
    }

    .showcase_txtslide-wrap {
        overflow: hidden;
        /* position: absolute; */
        background-color: gold;
    }

    .showcase_txtslide-container {
        background-color: red;
        height: 5rem;
    }

    .showcase_txtslide-item {
        display: inline-block;
        animation: textmove 5s linear infinite;
    }

    @keyframes marquee {
        from {
            transform: translateZ(0);
        }
        to {
            transform: translate3d(-200%, 0, 0);
        }
    }

    @keyframes textmove {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(0, -50%);
        }
    }

    .slide-txt {
        position: absolute;
        inset: auto auto 1rem 1rem;
    }

    .slide-txt h3 {
        letter-spacing: -0.02em;
        font-size: 1.5rem;
        line-height: 1.75rem;
    }

    .slide-txt p {
        margin: 0;
        font-size: 0.875rem;
        line-height: 1.5rem;
        font-weight: 500;
    }

    /* --------------------------- hide_brand_item start----------------------- */

    .hide_brand_spanWrap {
        display: flex;
        gap: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;

        position: absolute;
        width: 1800px;
        height: 60px;

        animation: brandmove 60s linear infinite;
    }



    @keyframes brandmove {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(-50%, 0);
        }
    }

    .hide_brand_section svg {
        width: 100%;
        height: auto;
        max-width: 180px;
        max-height: 32px;
    }

    .hide_brand_tempBox::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: -2rem;
        right: -2rem;
        width: 150px;
        z-index: 1;
        background: linear-gradient(to left, #0F0F0F, transparent);
    }

    .hide_brand_tempBox::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: -2rem;
        left: -2rem;
        width: 150px;
        z-index: 1;
        background: linear-gradient(to right, #0F0F0F, transparent);
    }
    /* --------------------------- brand_item start----------------------- */

    .brand_section {
        /* display: grid; */
        display: none;
        -moz-column-gap: 2rem;
        column-gap: 2rem;
        row-gap: 2.5rem;
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .brand_section svg {
        width: 100%;
        height: auto;
        max-width: 180px;
        max-height: 32px;
    }

    /* --------------------------- Genre Section start----------------------- */

    .genre_item-wrap {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .genre_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* width: 35%; */
        /* flex-grow: 1; */
    }

    .genre_item-img {
        position: relative;
        max-width: 337px;
        max-height: 337px;
        min-width: 5.75rem;
        min-height: 5.75rem;
    }

    .genre_item-img img {
        border-radius: 8px;
        object-fit: cover;
        width: 100%;
    }

    .genre_item-btn button {
        white-space: nowrap;
        border: none;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        border-radius: 50%;
        background: #fff;
    }

    .genre_item-btn {
        position: absolute;
        top: 50%;
        left: 50%;
    }

    .genre_item-txt p {
        margin: 0.2rem auto;
        font-weight: 100;
    }

    .genre_item-txt:hover {
        text-decoration: underline;
    }

    /* --------------------------- Soundtrack Section start----------------------- */

    .soundtrack_section {
        padding-bottom: 5rem;
    }

    .soundtrack_section ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        flex-wrap: wrap;
    }

    .soundtrack_item {
        position: relative;
        height: 280px;
        width: auto;
        overflow: hidden;
    }

    .soundtrack_item-img {
        margin-top: -5rem;
    }

    .soundtrack_item-img img {
        width: 100%;
        height: 100%;
    }

    .soundtrack_item-txt {
        position: absolute;
        bottom: 0;
        padding: 1.5rem;
    }

    .soundtrack_item-txt span {
        font-weight: 500;
        letter-spacing: -0.02em;
        font-size: 1.4rem;
        line-height: 2.375rem;

        display: flex;
        align-items: center;
        gap: 1rem;
    }

    /* --------------------------- how section----------------------- */

    .how_section {
        padding: 40px 32px;
    }

    .how-L {
        height: 589px;
        background-image: url(/img/how_back.jpg);
        background-repeat: no-repeat;
        background-position: top right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }

    .how-L span {
        font-weight: 600;
        letter-spacing: -0.02em;
        font-size: 3rem;
        line-height: 3rem;
        color: #fff;
        top: 60%;
        left: 8rem;
        position: absolute;
    }

    .how_R {
        height: 628px;
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }

    .how_R-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .how_R-item h3 {
        font-weight: 600;
        letter-spacing: -0.02em;
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .how_R-item p {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
        color: #878787;
    }

    /* --------------------------- Price Section start----------------------- */

    .price_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .item-month {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .item-price {
        font-weight: 600;
        letter-spacing: -0.02em;
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .item-personal {
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    .item-list span {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .price_label-wrap {
        display: flex;
        border: none;
        border-radius: 2px;
        background-color: #202020;
        cursor: pointer;
        padding: 0.3rem;
    }

    .price_label-wrap input {
        display: none;
    }

    input[type="radio"]:checked + label {
        line-height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        color: black;
        padding: 0.25rem 2rem;
        text-align: center;
        cursor: pointer;
        background-color: #fff;
    }

    input[type="radio"] + label {
        line-height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        color: #fff;
        padding: 0.25rem 1rem;
        text-align: center;
        cursor: pointer;
    }

    .price_item-flex {
        /* display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: space-between; */

        display: grid;
        grid-template-columns: 1fr;
        -moz-column-gap: 2rem;
        column-gap: 2rem;
        row-gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .price_item-wrap {
        background-color: #202020;
        padding: 1.5rem;
        justify-content: space-between;
        position: relative;
        /* min-height: 38.1875rem;
        max-width: 337px; */
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .price_item-first {
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-direction: column;
    }

    .price_item-second {
        width: 100%;
        gap: 1rem;
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .price_item-second p {
        font-weight: 500;
        font-size: 0.75rem;
        line-height: 1rem;
        color: rgba(255, 255, 255, 0.5);
    }

    /* ---------------------------Royalty Section start----------------------- */

    .Royalty_section {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .royalty-L {
        display: grid;
        grid-template-columns: repeat(3, minmax(216px, 1fr));
        column-gap: 2rem;
        row-gap: 2rem;
    }

    .royalty-R {
        display: flex;
        align-items: center;
    }

    .royal_L-item a {
        display: flex;
        flex-direction: column;
    }

    .royal_L-item img {
        margin-bottom: 0.5rem;
    }

    /* ---------------------------Right Section start----------------------- */

    .last_section {
        display: flex;
        flex-direction: column-reverse;
    }

    .last-L {
        height: 14rem;
    }

    .L-txt_wrap {
        width: 30rem;
        top: 50%;
        /* left: 2rem; */
        left: 0;
        transform: translateY(-50%);
        z-index: 1;
    }

    .L-txt_link span {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: #3959ff;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .L-txt_wrap h2 {
        padding-top: 10rem;
        padding-left: 0;
    }

    .last-R {
        height: 300px;
    }

    .R_img {
        background-image: url(/img/last-back.jpg);
        height: 100%;
        text-align: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}
