@media (min-width: 1260px) {
    /* --------------------------- welcome Section start----------------------- */

    .welcome_section {
        padding: 5rem 4rem 8rem 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .welcome_section h1 {
        font-weight: 600;
        letter-spacing: -0.02em;
        font-size: 3.5rem;
        line-height: 4rem;
    }

    .welcome_section-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    /* --------------------------- Showcase Section start----------------------- */

    .showcase_section-title {
        font-size: 3rem;
        /* line-height: 3.5rem; */
        color: #fff;
        text-align: center;
        padding-bottom: 1.5rem;
    }

    .showcase_section-title h4 {
        margin: 0;
        padding: 0;
    }

    .showcase_section-title li {
        color: #723fff;
        font-weight: 800;
    }

    .showcase_section-slide {
        overflow: hidden;
    }

    .showcase_section-slide ul {
        position: relative;
        display: flex;
        gap: 2rem;
        max-width: 2750px;
        margin: 0 auto;

        animation: bannermove 40s linear infinite;
    }

    

    @keyframes bannermove {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(-50%, 0);
        }
    }

    .showcase_section-slide > ul > li {
        position: relative;
        border-radius: 0.4rem;

    }

    .slide-img {
        width: auto;
        height: 506px;
    }

    .slide-img img {
        height: 100%;
    }

    .slide-img:after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(0deg, rgba(15, 15, 15, 0.5) 0%, rgba(15, 15, 15, 0) 100%);
    }


 /* --------------showcase section Column Banner animation start ----------- */

    .showcase_txtslide-wrap {
        display: grid;
        overflow: hidden;
    }

    .showcase_txtslide-container {
        height: auto;
    }

    .showcase_txtslide-item {
        animation: textmove 32s infinite;
        grid-area: 1 / 1;
        opacity: 0;
    }

    .showcase_txtslide-wrap li:nth-child(2) {
        animation-delay: 4s;
    }
    
    .showcase_txtslide-wrap li:nth-child(3) {
        animation-delay: 8s;
    }
    
    .showcase_txtslide-wrap li:nth-child(4) {
        animation-delay: 12s;
    }
    
    .showcase_txtslide-wrap li:nth-child(5) {
        animation-delay: 16s;
    }
    
    .showcase_txtslide-wrap li:nth-child(6) {
        animation-delay: 20s;
    }
    
    .showcase_txtslide-wrap li:nth-child(7) {
        animation-delay: 24s;
    }
    
    .showcase_txtslide-wrap li:nth-child(8) {
        animation-delay: 28s;
    }

    @keyframes textmove {
        0% {
            opacity: 0;
            animation-timing-function: cubic-bezier(0, 0, 0.25, 1);
            transform: translateY(100%);
        }
        1.5% {
            opacity: 1;
            transform: translateY(0);
        }
        12.5% {
            opacity: 1;
            transform: translateY(0);
        }
        14% {
            opacity: 0;
            animation-timing-function: cubic-bezier(0, 0, 0.25, 1);
            transform: translateY(-100%);
        }
        100% {
            opacity: 0;
            transform: translateY(-100%);
        }
    }

 /* --------------showcase section Banner animation finiish ----------- */

    .slide-txt {
        position: absolute;
        inset: auto auto 2.5rem 2.5rem;
    }

    .slide-txt h3 {
        margin: 0.4rem;
        font-size: 2.5rem;
    }

    .slide-txt p {
        margin: 0.2rem;
    }

    /* --------------------------- brand_item start----------------------- */

    .brand_section {
        display: grid;
        -moz-column-gap: 2rem;
        column-gap: 2rem;
        row-gap: 2.5rem;
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .brand_section svg {
        width: 100%;
        height: auto;
        max-width: 180px;
        max-height: 32px;
    }
    /* --------------------------- Genre Section start----------------------- */

    .genre_item-wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .genre_item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .genre_item-img {
        position: relative;
        max-width: 12rem;
        max-height: 12rem;
        min-width: 5.75rem;
        min-height: 5.75rem;
    }


    .genre_item-img img {
        border-radius: 8px;
        object-fit: cover;
        width: 100%;
    }

    .genre_item-btn button {
        white-space: nowrap;
        border: none;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        border-radius: 50%;
        background: #fff;
    }


    /* button hover properties Start*/

    .genre_item-btn {
        position: absolute;
        top: 35%;
        left: 35%;

        display: none;
    }

    .genre_item-hover {
        opacity: 80%;
        cursor: pointer;
        display: inline-block;
    }

    .opacity {
        opacity: 80%;
    }


    /* button hover properties End*/

    .genre_item-txt p {
        margin: 0.2rem auto;
        font-weight: 100;
    }

    .genre_item-txt:hover {
        text-decoration: underline;
    }


    /* --------------------------- Soundtrack Section start----------------------- */

    .soundtrack_section {
        padding-bottom: 5rem;
    }

    .soundtrack_section p {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .soundtrack_section ul {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        column-gap: 2rem;
        row-gap: 2rem;
        margin: auto;
        width: 100%;
        box-sizing: border-box;
    }

    .soundtrack_item {
        position: relative;
        height: auto;
    }

    .soundtrack_item-txt {
        position: absolute;
        bottom: 0;
        display: flex;
        padding: 1.5rem;
    }

    .soundtrack_item-txt span {
        font-weight: 500;
        letter-spacing: -0.02em;
        font-size: 1.4rem;
        line-height: 2.375rem;

        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .soundtrack_item-img {
        margin-top: 0;
    }

    .soundtrack_item-img img {
        width: 100%;
        height: 100%;
    }

    /* ---------------------hide brand section start -------------------------*/
    .hide_brand_section {
        display: none;
    }

    /* ---------------------------- how section------------------------------ */

    .how_section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        margin: 0px 106px;
    }

    .how-L {
        background-image: url(./img/how_back.jpg);
        background-repeat: no-repeat;
        background-position: right center;
        background-size: cover;
        display: flex;
        align-items: center;
        margin-left: 4rem;
    }

    .how-L span {
        font-weight: 600;
        letter-spacing: -0.02em;
        font-size: 3rem;
        line-height: 3rem;
        color: #fff;
        position: absolute;
        left: -5rem;
        top: 20rem;
    }

    .how-R {
        height: 628px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .how_R-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .how_R-item h3 {
        font-weight: 600;
        letter-spacing: -0.02em;
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .how_R-item p {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
        color: #878787;
    }

    /* --------------------------- Price Section start----------------------- */
    .price_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8rem;
        padding-bottom: 1rem;
    }

    .price_title h2 {
        font-weight: 600;
        letter-spacing: -0.02em;
        font-size: 3rem;
        line-height: 3.5rem;
    }
        
    .price_temp {
        height: 6rem;
        width: 100%;
    }

    .item-month {
        text-align: left;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
        margin-left: 0;
    }

    .item-price, .item-price-last {
        font-weight: 600;
        letter-spacing: -0.02em;
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .item-personal {
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    .item-list span {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .price_label-wrap {
        display: flex;
        border: none;
        border-radius: 2px;
        background-color: #202020;
        cursor: pointer;
        padding: 0.3rem;
        gap: 0.5rem;
    }

    fieldset {
        border: none;
    }

    .price_label-wrap input {
        display: none;
    }
/* 
    input[type="radio"] + label {
        line-height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        color: black;
        padding: 0.25rem 2rem;
        text-align: center;
        cursor: pointer;
        background-color: #fff;
    }

    input[type="radio"] + label {
        line-height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        color: #fff;
        padding: 0.25rem 1rem;
        text-align: center;
        cursor: pointer;
    } */


    .price_section label{
        font-weight: 500;
        line-height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        padding: 0.25rem 1.3rem;
        text-align: center;
        cursor: pointer;
    }

    .label-active {
        background-color: #FFF;
        color: black;
    }

    .price_item-flex {
        display: flex;
        justify-content: space-evenly;
        gap: 3rem;
    }

    .price_item-wrap {
        flex-grow: 1;
        background-color: #202020;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        min-height: 38.1875rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .price_item-first {
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-direction: column;
    }

    .price_item-second {
        width: 100%;
        gap: 1rem;
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .price_item-second p {
        font-weight: 500;
        font-size: 0.75rem;
        line-height: 1rem;
        color: rgba(255, 255, 255, 0.5);
    }

    /* ---------------------------Royalty Section start----------------------- */

    .Royalty_section {
        display: flex;
        gap: 2rem;
        flex-direction: row;
        align-items: center;
    }

    .royalty-L {
        display: grid;
        grid-template-columns: repeat(3, minmax(216px, 1fr));
        column-gap: 2rem;
        row-gap: 2rem;
    }

    .royalty-R {
        display: flex;
        align-items: center;
        height: 392px;
    }

    .royalty-R h2 {
        font-weight: 600;
        letter-spacing: -0.02em;
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .royal_L-item a {
        display: flex;
        flex-direction: column;
    }

    .royal_L-item img {
        margin-bottom: 0.5rem;
    }

    /* ---------------------------Right Section start----------------------- */

    .last_section {
        display: grid;
        grid-template-columns: 2fr 9fr;
    }

    .last-L {
        grid-row: unset;
        position: relative;
    }

    .last-R {
        height: auto;
    }


    .L-txt_wrap {
        width: 30rem;
        position: absolute;
        top: 90%;
        /* left: 2rem; */
        left: 0;
        transform: translateY(-50%);
        z-index: 1;
    }

    .L-txt_link span {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: #3959ff;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .L-txt_wrap h2 {
        max-width: 34rem;
    }

    .R_img {
        background-image: url(./img/last-back.jpg);
        height: 620px;
        width: auto;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    /* --------------------------------------- sub page main ---------------------------------------------*/

    .sub_welcome-wrap {
        background-image: url(./img/sub_main.avif);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 720px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sub_welcome-txt {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        z-index: 1;

        max-width: 50%;
        padding-top: 14rem;
        margin-bottom: 2.5rem;

        padding-left: 3.875rem;
        padding-right: 3.875rem;
    }

    .sub_welcome-txt h1 {
        font-weight: 600;
        letter-spacing: -0.02em;
        font-size: 3.5rem;
        line-height: 4rem;
    }

    .sub_welcome-txt h3 {
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

/* --------------------------------------- Sub Page Second Section Start ---------------------------------------------*/

    .sub_second-wrap {
        padding: 200px 60px 120px 80px;
    }


/* --------------------------------------- Sub Page Plan Section Start ---------------------------------------------*/
    .sub_plan-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        align-items: center;
        align-content: stretch;
        margin: 5rem 0;
    }

    .sub_plan-img {
        grid-row: 1 / auto;
    }

    .sub_plan-img img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        object-fit: inherit;
        object-position: inherit;
    }

    .sub_plan-txt {
        /* grid-column-end: span 6; */
    }

/* --------------------------------------- Sub SoundTrack Section Start ---------------------------------------------*/

    .sub_soundtrack-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        align-items: start;
        align-content: stretch;
        margin: 5rem 0;
    }

/* --------------------------------------- Sub Column Section Start ---------------------------------------------*/

    .sub_column-wrap {
        display: flex;
        gap: 2rem;

        margin-bottom: 6rem;
    }

    .sub_column-wrap div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .sub_column-wrap h3 {
        font-weight: 600;
        letter-spacing: -0.02em;
        font-size: 2.5rem;
        line-height: 3rem;

        margin-bottom: 24px;
        height: 6rem;

    }

    .sub_column-wrap h4 {
        font-size: 1rem;
        line-height: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: 600;
        color: #FFF;

        margin-bottom: 24px;
    }

    .sub_column-wrap a{
        text-decoration: none;
        box-sizing: border-box;
        outline: none;
        position: relative;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        min-height: 2.75rem;
        padding: 0.25rem 0px;
        border: 0px;
        cursor: pointer;
        font-size: 1rem;
        line-height: 1.125rem;
        font-weight: 600;
        background: transparent;
    }

    .sub_column-wrap a:hover {
        border-bottom: 2px solid #ffffff;
        padding-bottom: calc(0.25rem - 2px);
    }

/* --------------------------------------- Sub QnA Section Start ---------------------------------------------*/

    .sub_qna-wrap {
        margin-top: 6rem;
    }

    .sub_qna-wrap h2{
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.5rem;
        margin-bottom: 0;

    }

    .sub_qna-wrap span {
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    .sub_qna-wrap p {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .sub_qna-wrap button {
        min-width: 42px;
        min-height: 42px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-left: 1.5rem;
    }

    .sub_qna-item {
        padding: 2rem 0;
        border-bottom: 1px solid #878787
    }

    .sub_qna-txt {
        max-width: 640px;
        margin-top: 2rem;
        line-height: 1.4rem;
    }

    .sub_qna-item h2{
        display: flex;
        align-items: center;
    }

    .hide{
        display: none;
    }

    .active{
        display: inline-block;
    }

}
