@media (max-width: 599px) {
    /* --------------------------- welcome Section start----------------------- */

    .welcome_section {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        max-width: 1440px;
        margin: auto;
        width: 100%;
        box-sizing: border-box;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .welcome_section h1 {
        font-size: 2.5rem;
    }

    .welcome_section-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    /* --------------------------- Showcase Section start----------------------- */

    .showcase_section-title {
        font-size: 3rem;
        /* line-height: 3.5rem; */
        color: #fff;
        text-align: center;
        padding-bottom: 1.5rem;
    }

    .showcase_section-title h4 {
        margin: 0;
        padding: 0;
    }

    .showcase_section-title li {
        color: #723fff;
        font-weight: 800;
    }

    .showcase_section-slide ul {
        position: relative;
        display: flex;
        gap: 2rem;
        max-width: 2750px;
        margin: 0 auto;

        animation: bannermove 40s linear infinite;
    }

    @keyframes bannermove {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(-50%, 0);
        }
    }

    .showcase_section-slide {
        overflow: hidden;
    }

    .showcase_section-slide > ul > li {
        position: relative;
        border-radius: 0.4rem;
    }

    .slide-img {
        width: auto;
        height: 506px;
    }

    .slide-img img {
        height: 100%;
    }

    .slide-img:after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(0deg, rgba(15, 15, 15, 0.5) 0%, rgba(15, 15, 15, 0) 100%);
    }

    /* --------------showcase section Column Banner animation start ----------- */

    .showcase_txtslide-wrap {
        display: grid;
        overflow: hidden;
    }

    .showcase_txtslide-container {
        height: auto;
    }

    .showcase_txtslide-item {
        animation: textmove 32s infinite;
        grid-area: 1 / 1;
        opacity: 0;
    }

    .showcase_txtslide-wrap li:nth-child(2) {
        animation-delay: 4s;
    }

    .showcase_txtslide-wrap li:nth-child(3) {
        animation-delay: 8s;
    }

    .showcase_txtslide-wrap li:nth-child(4) {
        animation-delay: 12s;
    }

    .showcase_txtslide-wrap li:nth-child(5) {
        animation-delay: 16s;
    }

    .showcase_txtslide-wrap li:nth-child(6) {
        animation-delay: 20s;
    }

    .showcase_txtslide-wrap li:nth-child(7) {
        animation-delay: 24s;
    }

    .showcase_txtslide-wrap li:nth-child(8) {
        animation-delay: 28s;
    }

    @keyframes textmove {
        0% {
            opacity: 0;
            animation-timing-function: cubic-bezier(0, 0, 0.25, 1);
            transform: translateY(100%);
        }
        1.5% {
            opacity: 1;
            transform: translateY(0);
        }
        12.5% {
            opacity: 1;
            transform: translateY(0);
        }
        14% {
            opacity: 0;
            animation-timing-function: cubic-bezier(0, 0, 0.25, 1);
            transform: translateY(-100%);
        }
        100% {
            opacity: 0;
            transform: translateY(-100%);
        }
    }

    /* --------------showcase section Banner animation finiish ----------- */

    .slide-txt {
        position: absolute;
        inset: auto auto 2.5rem 2.5rem;
    }

    .slide-txt h3 {
        margin: 0.4rem;
        font-size: 2.5rem;
    }

    .slide-txt p {
        margin: 0.2rem;
    }

    /* --------------------------- brand_item start----------------------- */

    .brand_section {
        /* display: grid; */
        display: none;
        -moz-column-gap: 2rem;
        column-gap: 2rem;
        row-gap: 2.5rem;
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .brand_section svg {
        width: 100%;
        height: auto;
        max-width: 180px;
        max-height: 32px;
    }
    /* --------------------------- hide_brand_item start----------------------- */

    .hide_brand_section  {
        margin-top: 2rem;
        margin-bottom: 6rem;
    }
    .hide_brand_spanWrap {
        display: flex;
        gap: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        position: absolute;
        width: 1800px;
        height: 60px;
        animation: brandmove 60s linear infinite;
    }
    @keyframes brandmove {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(-50%, 0);
        }
    }
    .hide_brand_section svg {
        width: 100%;
        height: auto;
        max-width: 180px;
        max-height: 32px;
    }
    .hide_brand_tempBox::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: -6rem;
        right: -2rem;
        width: 150px;
        z-index: 1;
        background: linear-gradient(to left, #0f0f0f, transparent);
    }
    .hide_brand_tempBox::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: -4rem;
        left: -2rem;
        width: 150px;
        z-index: 1;
        background: linear-gradient(to right, #0f0f0f, transparent);
    }
    /* --------------------------- brand_item start----------------------- */
    .brand_section {
        /* display: grid; */
        display: none;
        -moz-column-gap: 2rem;
        column-gap: 2rem;
        row-gap: 2.5rem;
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .brand_section svg {
        width: 100%;
        height: auto;
        max-width: 180px;
        max-height: 32px;
    }

    /* --------------------------- Genre Section start----------------------- */

    .genre_item-wrap {
        display: grid;
        grid-template-columns: repeat(2, minmax(96px, 1fr));
        gap: 1rem;
    }

    .genre_item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .genre_section-txt {
        margin: 20px 0 30px;
    }

    .genre_item-img {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .genre_item-img img {
        border-radius: 8px;
        object-fit: cover;
        width: 100%;
    }

    .genre_item-btn button {
        white-space: nowrap;
        border: none;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        border-radius: 50%;
        background: #fff;
    }

    /* button hover properties Start*/


    .genre_item-btn {
        position: absolute;

        display: none;

    }

    
    .genre_item-hover {
        opacity: 80%;
        cursor: pointer;
        display: inline-block;
    }

    .opacity {
        opacity: 80%;
    }


    /* button hover properties End*/

    .genre_item-txt p {
        margin: 0.2rem auto;
        font-weight: 100;
    }

    .genre_item-txt:hover {
        text-decoration: underline;
    }

    /* --------------------------- Soundtrack Section start----------------------- */

    .soundtrack_section {
        padding-bottom: 1rem;
    }

    .soundtrack_section p {
        text-align: left;
    }

    .soundtrack_section ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        flex-wrap: wrap;
    }

    .soundtrack_item {
        position: relative;
        width: auto;
        overflow: hidden;
    }

    .soundtrack_item-img {
        margin-top: -5rem;
    }

    .soundtrack_item-img img {
        width: 100%;
        height: 100%;
    }

    .soundtrack_item-txt {
        position: absolute;
        bottom: 0;
        padding: 1.5rem;
    }

    .soundtrack_item-txt span {
        font-weight: 500;
        letter-spacing: -0.02em;
        font-size: 1.4rem;
        line-height: 2.375rem;

        display: flex;
        align-items: center;
        gap: 1rem;
    }

    /* --------------------------- how section----------------------- */

    .how_section {
        padding: 40px 32px;
    }

    .how-L {
        height: 399px;
        background-image: url(/img/how_back.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }

    .how-L span {
        font-weight: 600;

        color: #fff;
        bottom: 1rem;
        left: 1rem;
        position: absolute;

        letter-spacing: -0.02em;
        font-size: 2rem;
        line-height: 2.375rem;
    }

    .how_R {
        height: 628px;
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }

    .how_R-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        margin: 2rem 0;
        
    }

    .how_R-item p {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
        color: #878787;
    }

    /* --------------------------- Price Section start----------------------- */

    .price_title {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 2rem;
        gap: 1.5rem;
    }

    .price_temp {
        height: 4rem;
        width: 100%;
    }

    .item-month {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;

        padding: 1rem 0;
    }

    .item-price {
        font-weight: 600;
        letter-spacing: -0.02em;
        font-size: 2.5rem;
        line-height: 3rem;

        padding-top: 1rem;
    }

    .item-price-last {
        font-weight: 600;
        letter-spacing: -0.02em;
        font-size: 2rem;
        line-height: 3rem;
        padding-top: 1rem;
    }

    .item-personal {
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    .item-list {
        padding-top: 1rem;
    }

    .item-list span {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .price_label-wrap {
        display: flex;
        border: none;
        border-radius: 2px;
        background-color: #202020;
        cursor: pointer;
        padding: 0.3rem;
    }

    .price_label-wrap input {
        display: none;
    }

    fieldset {
        border: none;
    }

    .price_section label{
        font-weight: 500;
        line-height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        padding: 0.25rem 1.3rem;
        text-align: center;
        cursor: pointer;
    }

    .label-active {
        background-color: #FFF;
        color: black;
    }

    .price_item-flex {
        display: grid;
        grid-template-columns: 1fr;
        -moz-column-gap: 2rem;
        column-gap: 2rem;
        row-gap: 2rem;
        grid-template-columns: repeat(1fr);
    }

    .price_item-wrap {
        background-color: #202020;
        padding: 1.5rem;
        justify-content: space-between;
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .price_item-first {
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-direction: column;
    }

    .price_item-second {
        width: 100%;
        gap: 1rem;
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .price_item-second p {
        font-weight: 500;
        font-size: 0.75rem;
        line-height: 1rem;
        color: rgba(255, 255, 255, 0.5);
        padding: 2rem 0 1rem 0;
    }

    /* ---------------------------Royalty Section start----------------------- */

    .Royalty_section {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .royalty-L {
        display: grid;
        grid-template-columns: repeat(2, minmax(0px, 1fr));
        grid-template-rows: 1fr 1fr;
        column-gap: 2rem;
        row-gap: 2rem;
    }

    .royalty-R {
        display: flex;
        align-items: center;
    }

    .royal_L-item a {
        display: flex;
        flex-direction: column;
    }

    .royal_L-item img {
        margin-bottom: 0.5rem;
    }

    /* ---------------------------Right Section start----------------------- */

    .last_section {
        display: flex;
        flex-direction: column-reverse;
        padding: 1rem;
    }

    .last-L {
        height: 14rem;
    }

    .L-txt_wrap {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: 1;
    }

    .L-txt_link span {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: #3959ff;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .L-txt_wrap h2 {
        padding-top: 10rem;
        padding-left: 0;
    }

    .last-R {
        height: 300px;
    }

    .R_img {
        background-image: url(/img/last-back.jpg);
        height: 100%;
        text-align: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    /* --------------------------------------- sub page main ---------------------------------------------*/

    .sub_welcome-wrap {
        background-image: url(/img/sub_main.avif);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        /* width: 1440px;
        height: 720px; */
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sub_welcome-txt {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        z-index: 1;

        padding-top: 14rem;
        margin-bottom: 2.5rem;

        padding-left: 2rem;
        padding-right: 2rem;
    }

    .sub_welcome-txt h1 {
        font-weight: 600;
        letter-spacing: -0.02em;
        font-size: 3.5rem;
        line-height: 4rem;
    }

    .sub_welcome-txt h3 {
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    /* --------------------------------------- Sub Page Second Section Start ---------------------------------------------*/

    .sub_second-wrap {
        padding: 12rem 0 5rem;
        max-width: 70%;
        text-align: center;
        margin: auto;
        text-align: center;
    }

    .sub_second-wrap h3:first-child {
        font-size: 1rem;
        line-height: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: 600;
        padding-bottom: 2rem;
    }

    .sub_second-wrap h3:last-child {
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    /* --------------------------------------- Sub Page Plan Section Start ---------------------------------------------*/
    .sub_plan-wrap {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 2rem;
        align-items: center;
        align-content: stretch;
        margin: 5rem 0;
    }

    .sub_plan-wrap h2,
    .sub_soundtrack-wrap h2 {
        letter-spacing: -0.02em;
        font-size: 2.5rem;
        line-height: 3rem;
        font-weight: 600;
        margin: 1.5rem 0px 33.2px;
    }

    .sub_plan-img {
        grid-row: 1 / auto;
    }

    .sub_plan-img img,
    .sub_soundtrack-img img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        object-fit: inherit;
        object-position: inherit;
    }

    /* --------------------------------------- Sub SoundTrack Section Start ---------------------------------------------*/

    .sub_soundtrack-wrap {
        padding: 3rem 0 6rem 0;
        display: flex;
        flex-direction: column-reverse;
    }
    .sub_soundtrack-txt {
        margin-top: 1rem;
    }

    .sub_soundtrack-txt p {
        margin: 1rem 0;
    }

    .sub_soundtrack-txt p,
    .sub_soundtrack-txt h2 {
        padding-left: 0;
    }
    /* --------------------------------------- Sub Column Section Start ---------------------------------------------*/

    .sub_column-wrap {
        display: flex;
        gap: 2rem;
        margin-bottom: 6rem;
        align-items: flex-start;
        flex-direction: column;
    }

    .sub_column-flex p {
        padding-left: 0;
        padding-bottom: 3rem;
    }

    .sub_column-wrap div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .sub_column-wrap h3 {
        font-weight: 600;
        letter-spacing: -0.02em;
        font-size: 2.5rem;
        line-height: 3rem;

        margin-bottom: 24px;
        height: 6rem;
    }

    .sub_column-wrap h4 {
        font-size: 1rem;
        line-height: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: 600;
        color: #fff;

        margin-bottom: 24px;
    }

    .sub_column-wrap a {
        text-decoration: none;
        box-sizing: border-box;
        outline: none;
        position: relative;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        min-height: 2.75rem;
        padding: 0.25rem 0px;
        border: 0px;
        cursor: pointer;
        font-size: 1rem;
        line-height: 1.125rem;
        font-weight: 600;
        background: transparent;
    }

    .sub_column-wrap a:hover {
        border-bottom: 2px solid #ffffff;
        padding-bottom: calc(0.25rem - 2px);
    }

    /* --------------------------------------- Sub QnA Section Start ---------------------------------------------*/

    .sub_qna-wrap {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }

    .sub_qna-wrap h2 {
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.5rem;
        margin-bottom: 0;
    }

    .sub_qna-wrap span {
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    .sub_qna-wrap p {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .sub_qna-wrap button {
        min-width: 42px;
        min-height: 42px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-left: 1.5rem;
    }

    .sub_qna-item {
        padding: 2rem 0;
        border-bottom: 1px solid #878787;
    }

    .sub_qna-item p {
        padding-left: 0;
    }

    .sub_qna-txt {
        max-width: 640px;
        margin-top: 2rem;
        line-height: 1.4rem;
    }

    .sub_qna-item h2 {
        display: flex;
        align-items: center;
        padding-left: 0;
    }

    .hide {
        display: none;
    }

    .active {
        display: inline-block;
    }
}
